Nomad-Api/Nomad.Api/appsettings.Development.json
Nomad-Api/Nomad.Api/bin/Debug/net9.0/appsettings.Development.json
Nomad-Api/Nomad.Api/bin/Debug/net9.0/appsettings.Development.json
Nomad-Api/Nomad.Api/bin/Debug/net9.0/Nomad.Api.dll
Nomad-Api/Nomad.Api/bin/Debug/net9.0/Nomad.Api.exe
Nomad-Api/Nomad.Api/bin/Debug/net9.0/Nomad.Api.pdb
Nomad-Api/Nomad.Api/obj/Nomad.Api.csproj.nuget.dgspec.json
Nomad-Api/Nomad.Api/obj/Debug/net9.0/Nomad.Api.csproj.CoreCompileInputs.cache
Nomad-Api/Nomad.Api/obj/Debug/net9.0/Nomad.Api.csproj.AssemblyReference.cache
